body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}


#navbar {
    position: fixed;
    top:0; 
    width: 100%;
    font-size: 1.3em;
    background-color: #FF0000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: end;
    padding: 10px 20px;
    margin: 0;

}

.item-link{
    padding: 13px 20px;
    color: black;
    text-decoration: none;

}

li:hover .item-link{
    color: black;
    background-color: #D1E8E4;
}


#welcome-section {
    padding: 0;
    height: 100vh;
    background-color: #3B0000;
}

header{
    width: 50%;
    margin: auto;
    padding-top: 250px;
    text-align: center;
    color: white;
}


#main-header {  
    font-size: 4em;
    font-weight: 700;

}

#job {
    font-size: 1.5em;
    font-style: italic;
}

span{
    color: #FF0000;
}

#projects{
    background-color: #020838;
    text-align: center;
    padding-bottom: 20px;
}


.project-section-title {
    padding: 100px 0;
    color: black;
}

#projects h2{
   font-size: 3em;
   font-weight: bold;
   color: white;
   text-decoration: underline;
}

#projects a{
    text-decoration: none;
 }

#project-container {
    width: 75%;
    margin: 0 auto;
}


.project-tile {
    padding: 20px;
    margin-bottom: 20px;
}

.project-tile h3{
    background-color: rgb(53, 53, 53);
    padding: 20px 0;
    color: rgb(170, 170, 170);
}

.btn-primary {
    border: 1px solid rgb(53, 53, 53);
    background-color: rgb(53, 53, 53);
}

.btn-primary:hover {
    border: 1px solid rgb(92, 92, 92);
    background-color: rgb(92, 92, 92);
}

#profile-link-main{
    text-align: center;
    color: white;

    background-color: #3B0000;
}

.profile-link-div {
    width: auto;
    padding-top: 300px;
}

.profile-link-div h3{
    font-size: 3.5em;
    font-weight: bold;
}

.profile-link-div p{
    font-size: 1.2em;
    font-style: italic;
}

.social-link a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.social-link li{ 
    list-style: none;
    padding: 10px 50px;
}

.social-link {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.hr {
    margin-top: 280px;
    color: white;
}

footer{
    padding: 10px 0;
    color: rgb(170, 170, 170);
}

.social-link {
    padding-left: 0;
    margin-left: 0;
}

.social-link li{ 
    flex-direction: column;
    align-items: center;
}

@media (max-width: 991px) {
    #project-container {
        width: 80%;
    }

    #projects h2 {
        font-size: 2em;
    }

    #main-header {  
        font-size: 4em;
        font-weight: 700;
    }

    
}


@media (max-width: 767px) {
    #project-container {
        width: 90%;
    }

    #projects h2 {
        font-size: 1.5em;
    }

    #main-header {  
        font-size: 2em;
        font-weight: 700;
    }
}

@media (min-width: 1024px) {
    header {
        padding-top: 300px;
    }
}